<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Record.Properties.Settings.TESTConnectionString"
            connectionString="user id=nafis;server=198.154.99.221;password=DBanhk1234.;database=TEST"
            providerName="MySql.Data.MySqlClient" />
        <add name="Student_Record.Properties.Settings.TESTConnectionString1"
            connectionString="server=198.154.99.221;user id=nafis;database=TEST;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Student_Record.Properties.Settings.univConnectionString"
            connectionString="server=198.154.99.221;user id=nafis;password=DBanhk1234.;persistsecurityinfo=True;database=univ"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>