<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Student_Record.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Student_Record.Properties.Settings>
            <setting name="serverIP" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARwOaZZFBwUyBvdMiF3L66QAAAAACAAAAAAAQZgAAAAEAACAAAABq/175SnJzN3Cy9KpQ+SMdDG3/61emO5JBkzyMkgt1TQAAAAAOgAAAAAIAACAAAADRWNZVYkbODKjFxsdcewoduWVz5HmQ7vqVoYkJKQSD/CAAAABG7skjTwwNscOTWtVpIqAPyj3kzZv3aWa8jTBTj/ywhUAAAADuWWzZ+WhdWH77K+qLQFAPujxmRAtBirZ48pMO3iU4E8wVC+xZzEgBsIl+NcNHTOpXiz5FqXd8BMG1pPQ7T3m0</value>
            </setting>
            <setting name="databaseName" serializeAs="String">
                <value>RADMS</value>
            </setting>
            <setting name="serverUID" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARwOaZZFBwUyBvdMiF3L66QAAAAACAAAAAAAQZgAAAAEAACAAAADM9QhzCcZnDJ/eESl2TWnuKhe1wl3os6diRxkdoiJgsgAAAAAOgAAAAAIAACAAAACJ2bNYTZtNnRThz0081R6lB5hiBCJ4LIC25hs4lWKBBxAAAADSsse15v+4ODu9lu+9Aq/0QAAAABicojwjJRD0amsF0l2t2k+PXUVHjP0Kjkncg5n6ij3sskdk553LzReQ45Qoogj8mMUt5gJeMu5fxl0YxPv5gd4=</value>
            </setting>
            <setting name="ServerPSW" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAARwOaZZFBwUyBvdMiF3L66QAAAAACAAAAAAAQZgAAAAEAACAAAACY+BebAlLyoKfuGFfMWN15oTS5GA6T0EjOocf3xOQwGgAAAAAOgAAAAAIAACAAAAAgZDfB9oMPoQsbybzrqj8CLC5SaBRin5xtSsWkUN5eQSAAAABARdCVRf6Asb6MoTF55U+wlQRKn+eae/TqCseM0KhUN0AAAAD6ZkR7Vxi2iM79cJdJby8NujlKzO9OvWx/haK/QeA1BOHUGS4TdKMD1l5Asjyweqa/m4N3V0kXlxALtd7I7Xt6</value>
            </setting>
            <setting name="userauth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userauthpass" serializeAs="String">
                <value />
            </setting>
            <setting name="userid" serializeAs="String">
                <value>1</value>
            </setting>
        </Student_Record.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>